#Home{
   background-image: url("https://cdn.dribbble.com/users/276066/screenshots/10830516/getfit_pt_animated_logo_4x.png");
    color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
}